


VITE_SUPABASE_URL= https://qjgfjcxzqnawgxikwcpc.supabase.co
VITE_SUPABASE_ANON_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2ZqY3h6cW5hd2d4aWt3Y3BjIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjkyMjQxMCwiZXhwIjoyMDk4NDk4NDEwfQ.y6p8tRjeuvkZVh9kJKngIHpdZS7wZOQdRCHirW_sjxQ

